* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
}
.nav {
  width: 100%;
  height: 7%;
  background-color: #0aa9ff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.nav .container .menu {
  background: url(../img/Menu.png) no-repeat center;
  height: 100%;
  width: 15%;
  background-size: 60%;
  float: left;
}
.nav .container .title {
  height: 100%;
  width: 70%;
  float: left;
  position: relative;
}
.nav .container .title a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.nav .container .title .icon-yinyue {
  position: absolute;
  top: 20%;
  left: 10%;
}
.nav .container .title .icon-pindao {
  position: absolute;
  top: 20%;
  left: 45%;
}
.nav .container .title .icon-community {
  position: absolute;
  top: 20%;
  left: 80%;
}
.nav .container .search {
  background: url(../img/search.png) no-repeat center;
  height: 100%;
  width: 15%;
  background-size: 60%;
  float: left;
}
.playMusic {
  width: 100%;
  height: 9%;
  position: fixed;
  background: white;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.playMusic .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.playMusic .container .song_img {
  float: left;
  width: 20%;
  height: 100%;
}
.playMusic .container .song_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.playMusic .container .song_info {
  float: left;
  width: 60%;
  height: 100%;
  position: relative;
}
.playMusic .container .song_info h4 {
  position: absolute;
  top: 20%;
  left: 4%;
}
.playMusic .container .song_info h5 {
  position: absolute;
  top: 55%;
  left: 4%;
}
.playMusic .container .song_bar {
  width: 20%;
  height: 100%;
  float: left;
}
.playMusic .container .song_bar .playBtn {
  background: url('../img/play.png') no-repeat center;
  height: 100%;
  width: 43%;
  background-size: 100%;
  float: left;
  margin-right: 14%;
}
.playMusic .container .song_bar .pausing {
  background: url('../img/pause.png') no-repeat center;
  background-size: 100%;
  height: 100%;
  width: 43%;
  float: left;
}
.playMusic .container .song_bar .playList {
  background: url('../img/playList.png') no-repeat center;
  height: 100%;
  width: 43%;
  background-size: 100%;
  float: left;
}
.content {
  width: 100%;
  height: 90%;
  margin-top: 12.5%;
  background: #f4f4f4;
  overflow: scroll;
}
.content .slide {
  width: 100%;
  height: 23%;
  overflow: hidden;
  position: relative;
}
.content .slide .imgul {
  list-style: none;
  width: 500%;
  height: 100%;
  display: flex;
  position: absolute;
  left: 0;
}
.content .slide .imgul li {
  float: left;
}
.content .slide .imgul li a {
  width: 100%;
}
.content .slide .imgul li a img {
  width: 100%;
  height: 100%;
}
.content .slide .slide-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5rem;
  list-style: none;
}
.content .slide .slide-list li {
  float: left;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: white;
  margin-right: 0.2rem;
}
.content .slide .slide-list .active {
  background: orangered;
}
.content .radioList {
  width: 100%;
  margin-top: 3%;
}
.content .radioList .radio {
  padding-left: 2%;
}
.content .radioList .radio_detail {
  width: 100%;
  padding-top: 0.4rem;
  margin: 0 auto;
}
.content .radioList .radio_detail a {
  float: left;
  width: 44%;
  background: white;
  padding: 2% 2%;
  text-decoration: none;
}
.content .radioList .radio_detail a img {
  width: 100%;
}
.content .radioList .radio_detail a span {
  margin-top: 0.3rem;
  color: black;
}
.content .radioList .radio_detail a:nth-child(2n) {
  margin-left: 4%;
}
.content .songList {
  width: 100%;
  margin-top: 3%;
}
.content .songList .hotmusic {
  padding-left: 2%;
}
.content .songList .song_detail {
  width: 100%;
  padding-top: 0.4rem;
  margin: 0 auto;
}
.content .songList .song_detail a {
  float: left;
  width: 44%;
  background: white;
  padding: 2% 2%;
  text-decoration: none;
  position: relative;
}
.content .songList .song_detail a img {
  width: 100%;
}
.content .songList .song_detail a span {
  margin-top: 0.3rem;
  color: black;
}
.content .songList .song_detail a .songListAuthor {
  display: block;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
}
.content .songList .song_detail a .accessnum {
  position: absolute;
  bottom: 30%;
  left: 10%;
  color: white;
  font-size: 0.5rem;
}
.content .songList .song_detail a .songListDesc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}
.content .songList .song_detail a:nth-child(2n) {
  margin-left: 4%;
}
.searchmusic {
  width: 100%;
  height: 7%;
  background-color: #0aa9ff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  position: relative;
  display: none;
}
.searchmusic form .back {
  color: white;
  font-size: 1.5rem;
  width: 12%;
  text-align: center;
  line-height: 100%;
  position: absolute;
  left: 0%;
  top: 25%;
}
.searchmusic form input {
  outline-style: none;
  background: #0aa9ff;
  color: white;
  border: none;
  border-bottom: 0.02rem solid #ffffff;
  width: 76%;
  height: 60%;
  position: absolute;
  left: 12%;
  bottom: 25%;
}
.searchmusic form .icon-sousuo {
  color: white;
  font-size: 1.5rem;
  width: 12%;
  text-align: center;
  position: absolute;
  right: 0%;
  top: 25%;
}
.list {
  width: 100%;
  height: 85%;
  overflow: scroll;
  display: none;
}
.list .songs {
  height: 10%;
  width: 100%;
  border-top: 1px solid gainsboro;
  position: relative;
}
.list .songs .iconfont {
  width: 10%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0%;
  top: 35%;
}
.list .songs div {
  height: 100%;
  width: 89%;
  position: absolute;
  left: 10%;
  top: 20%;
}
.list .songs div h3 {
  font-size: 1rem;
}
.list .songs div span {
  font-size: 0.6rem;
}
#player-interface {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}
#player-interface .container {
  width: 90vw;
  height: 95vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#player-interface .container .album_pic {
  width: 90vw;
  height: 90vw;
  background: #cad7fc;
  border-radius: 50%;
  overflow: hidden;
}
#player-interface .container .album_pic img {
  width: 100%;
  height: 100%;
}
#player-interface .container .spinning {
  -webkit-animation: spin 10s infinite linear;
}
#player-interface .container .song_title {
  font-size: 20px;
}
#player-interface .container .song_title,
#player-interface .container .singer_dt {
  display: flex;
  justify-content: center;
}
#player-interface .container .playstyles {
  display: flex;
}
#player-interface .container .playstyles .current {
  display: none;
}
#player-interface .container .media_control {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#player-interface .container .media_control img {
  width: 42px;
  height: 42px;
}
#player-interface .container .progress-bar {
  width: 100%;
  height: 5px;
  background: #eaeaea;
}
#player-interface .container .progress-bar .progressing {
  width: 0px;
  height: 100%;
  background: #3a6efd;
}
#player-interface .container .music-link {
  display: none;
}
#player-interface .container .timeLine {
  display: flex;
  justify-content: space-between;
}
