* {
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  height: 3rem;
  background-color: #0aa9ff;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
}
.nav .container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}
.nav .container .menu {
  background: url(../img/Menu.png) no-repeat center;
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem;
}
.nav .container div {
  flex: 1;
  display: flex;
  justify-content: space-around;
}
.nav .container div .iconfont {
  text-decoration: none;
  font-size: 1.5rem;
}
.nav .container .search {
  background: url(../img/search.png) no-repeat center;
  height: 1.5rem;
  width: 1.5rem;
  background-size: 1.5rem;
}
.playBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 4rem;
  display: flex;
  align-items: center;
  z-index: 1;
}
.playBar .container {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.playBar .container #song-cover {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.2rem;
}
.playBar .container #song-cover img {
  width: 100%;
  height: 100%;
}
.playBar .container .song-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-decoration: none;
}
.playBar .container .song-info h5 {
  color: #0aa9ff;
}
.playBar .container .fr a {
  width: 2rem;
  height: 2rem;
  float: right;
  margin-left: 0.5rem;
}
.playBar .container .fr .playing {
  background: url('../img/play.png') no-repeat center;
  background-size: 100%;
}
.playBar .container .fr .pausing {
  background: url('../img/pause.png') no-repeat center;
  background-size: 100%;
}
.playBar .container .fr #playList {
  background: url('../img/playList.png') no-repeat center;
  background-size: 100%;
}
.swiper-box {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
